[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-easygrep"]
	path = .vim/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
